/* This is very much a hack, but it will have to do for now */

/* Color Definitions */
$root-dark-rgb: red($root-dark), green($root-dark), blue($root-dark);
$root-light-rgb: red($root-light), green($root-light), blue($root-light);
$root-primary-rgb: red($root-primary), green($root-primary), blue($root-primary);
$root-red-rgb: red($root-red), green($root-red), blue($root-red);
$root-blue-rgb: red($root-blue), green($root-blue), blue($root-blue);

.rounded {
  border-radius: var(--e-rounded-border-radius);
}
.rounded-top{
  border-top-left-radius: var(--e-rounded-border-radius);
  border-top-right-radius: var(--e-rounded-border-radius);
}

.rounded-bottom{
  border-bottom-left-radius: var(--e-rounded-border-radius);
  border-bottom-right-radius: var(--e-rounded-border-radius);
}



$color-map: (
  "red": $root-red,
  "blue": $root-blue,
  "primary": $root-primary,
  "dark": $root-dark,
  "light": $root-light,
);

@each $name, $color in $color-map {
  :root {
    #{'--e-color-'+$name}: $color;
  }
  .bg-#{$name} {
    background: $color;
  }
  .color-#{$name} {
    color: $color;
  }
}

a,
.e-link {
  color: $root-blue;

  &:visited {
    color: color.scale($root-blue, $lightness: -10%);
  }
  &:active,
  .e-link-active {
    color: color.scale($root-blue, $lightness: 10%);
  }
}

@mixin elev($source, $lightness) {
  $root-elev: color.scale($source, $lightness: $lightness);
  $root-elev-2: color.scale($source, $lightness: $lightness * 2);

  --e-color-elev: #{$root-elev};
  --e-color-elev-rgb: #{red($root-elev), green($root-elev), blue($root-elev)};

  --e-color-elev-2: #{$root-elev-2};
  --e-color-elev-2-rgb: #{red($root-elev-2), green($root-elev-2),
    blue($root-elev-2)};
}

:root {
  --e-color-primary-rgb: #{$root-primary-rgb};

  --e-color-light: #{$root-light};
  --e-color-light-rgb: #{$root-light-rgb};

  --e-color-dark: #{$root-dark};
  --e-color-dark-rgb: #{$root-dark-rgb};

  @include elev($root-light, -5%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --e-color-light: #{$root-dark};
    --e-color-light-rgb: #{$root-dark-rgb};

    --e-color-dark: #{$root-light};
    --e-color-dark-rgb: #{$root-light-rgb};

    @include elev($root-dark, 5%);
  }
}
